<h1>Sign in</h1>
<%= form_for :signin, method: "GET", :url => genres_path do |f| %>
 <p>
 <%= f.label :username %><br />
 <%= f.text_field :username %>
 </p>
 <p>
 <%= f.label :password %><br />
 <%= f.password_field :password %>
 </p>
 <%= f.submit "Sign in" %>
<% end %>
