<h1>Artist Profile</h1>
<div id="artist-show">
  <div class="profile-pic">
    <%= image_tag @user.avatar.url %>
  </div>
  <%# Nesting is important. Are we noticing a theme? %>
  <ul>
    <li> <%= @user.username %></li>
    <li> <%= @user.first_name %></li>
    <li> <%= @user.last_name %></li>
    <li> <%= @user.email_address %></li>
    <li> <%= @user.bio %></li>
    <li> <%= @user.email_address %></li>
  </ul>
</div>

<div id="user-review">
  <%= render "reviews/form", locals: {review: Review.new} %>
</div>
