<%= form_for :comment, url: comments_path do |f| %>
<%# Don't leave debugging code in master / your app / your views %>
<h1><%= puts params %></h1>
  <div class="comment-box">
    <%= f.label :comment %><br>
    <%= f.text_area :body %><br>
    <%= f.hidden_field :review_id, { :value => params[:format] } %>
    <%= f.hidden_field :commenter_id, { :value => session[:user_id] } %>
    <%= f.submit %>
  </div>
<% end %>
