<div class="signup-form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email_address %><br />
      <%= f.text_field :email_address %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <!-- Are you an artist? -->
    <div class="field">
      <span id="check-box"><%= f.check_box(:artist) %></span>
      <%= f.label(:artist, "I am an Artist") %>
    </div>
    <div class="field artist-form" style="display:none;">
      <%= f.label :bio %><br />
      <%= f.text_area :bio %>
    </div>
    <div class="field artist-form" style="display:none;">
      <%= f.label :soundcloud_profile %><br />
      <%= f.text_field :soundcloud_profile %>
    </div>
    <div class="field">
      <%= check_box_tag("user[genres][Jazz]", 1, false ) %>
      <%= f.label(:genres, "Jazz") %>
    </div>
    <div class="field">
      <%= check_box_tag("user[genres][Hip Hop]", 2, false ) %>
      <%= f.label(:genres, "Hip Hop") %>
    </div>
    <div class="field">
      <%= check_box_tag("user[genres][Classical]", 3, false ) %>
      <%= f.label(:genres, "Classical") %>
    </div>
    <div class="field">
      <%= check_box_tag("user[genres][Fiftys]", 4, false ) %>
      <%= f.label(:genres, "50's") %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
</div>
<% end %>
