<h1>Artist Profile</h1>
<div id="artist-show">
<ul>
<li> <%= @user.username %></li>
<li> <%= @user.first_name %></li>
<li> <%= @user.last_name %></li>
<li> <%= @user.email_address %></li>
<li> <%= @user.bio %></li>
<li> <%= @user.email_address %></li>
</ul>
</div>

<div id="user-review-box">
  <%= render "reviews/form", locals: {review: Review.new, user: @user} %>
</div>

<div id="reviews-display">
  <%= render "reviews/index", locals: {user: @user} %>
</div>

