<h1>Reviews on <%= @user.full_name %> </h1>
  <% @user.reviews_as_artist.each do |review| %>
      <blockquote>
      <p><%= review.body %></p>
      <small><%= review.reviewer.first_name %><cite title="Source Title">(<%= review.reviewer.username %>)</cite></small>
      </blockquote>
    <%= link_to 'Comment', new_comment_path(review) %>
    <%= link_to 'Edit', edit_review_path(review) %>
    <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% review.comments.each do |comment| %>
      <blockquote class="review-comment-quote">
      <p><%= comment.body %></p>
      <small><%= comment.commenter.first_name %><cite title="Source Title">(<%= comment.commenter.username %>)</cite></small>
      </blockquote>
      <% end %>
  <% end %>