<h1>Edit review</h1>

<%= form_for :review, url: review_path(@review), method: :patch do |f| %>
 <p>
    <%= f.label :review %><br>
    <%= f.text_area :body %><br>
    <%= f.submit %>  </p>

<% end %>
<%= link_to 'Go Back', reviews_path %>
