<!DOCTYPE html>
<html>
<head>
  <title>Kendrick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">LiveHub</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <% if session[:user_id] %>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/logout">LogOut</a></li>
      <% else %>
        <li id="signup"><a id="signup-link" href="/users/new">SignUp</a></li>
        <li id="login"><a id="signin-link" href="/signin">Login</a></li>
      <% end %>
    </ul>
  </div>
</div>

    <% if flash[:notice] %>
      <center><%= flash[:notice] %></center>
    <% end %>
    <div class="content">
      <%= yield %>
      <center><div id="signup-partial" style="display:none;">
        <%= render partial: 'users/form', locals: {user: @user = User.new()}, layout: false %>
      </div></center>
      <center><div id="login-partial" style="display:none;">
        <%= render partial: 'sessions/form'%>
      </div></center>
    </div>
    <div class="background-image"></div>
</body>
</html>
